.tables {
    background: white;
    margin-top: 10px;
    & .ant-pagination {
        text-align: right;
        padding: 10px;
    }
}

.tables-header {
    background: white;
    padding: 10px;
    height: 50px;
    
    &-search {
        right: 2px;
        & p {
            margin-top: 3px;
            width: 50%;
            float: left;
        }
    }
}

.editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
}