.table {
    background: white;
    & .ant-pagination {
        text-align: right;
        padding: 20px;
    }

    &-header {
        padding: 10px;
        
        &-search {
            right: 2px;
            width: 500px;
            height: 30px;
            display: flex;
            justify-content: space-between;

            & p {
                margin-top: 3px;
            }
        }
    }
}

.editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
}